{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
<div class="container" id="container-tabla">
    <div class="col-12">
        <h2 class="text-center pb-3">Registro de ventas</h2>
        <div class="busqueda d-flex justify-content-between align-items-center">
            <form class="d-flex align-items-center" role="search" method="POST" action="{% url 'ventas:buscarVentas' %}">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="fecha_inicio" class="me-1">Fecha de inicio:</label>
                            <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control busquedaFecha d-inline" placeholder="inicio" style="width: 150px;">
                            <label for="fecha_fin" class="ms-2 me-1">Fecha de fin:</label>
                            <input type="date" id="fecha_fin" name="fecha_fin" class="form-control busquedaFecha d-inline" style="width: 150px;">
                        </div>
                        <div class="col">
                            <button class="btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass" style="font-size: 16px"></i>
                            </button>
                            <a href="{% url 'ventas:ventas' %}" class="ms-2"><i class="fa-solid fa-rotate-left"></i></a> 
                        </div>  
                    </div>
                </div>
            </form>
            <a href="{% url 'ventas:agregarVenta' %}"><i class="fa-solid fa-square-plus" title="Agregar venta" style="font-size: 30px"></i></a>
            <a href="{% url 'ventas:exportarPDF' %}"><i class="expPdf fa-solid fa-file-pdf px-2" style="font-size: 25px"></i>Exportar PDF</a>
        </div>
        
        
        
    
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de venta</th>
                        <th scope="col">Forma de pago</th>
                        <th scope="col">Tipo de comprobante</th>
                        <th scope="col">Cliente mayorista</th>
                        <th scope="col">Total</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %} 
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ venta.fechaDeVenta }}</td>
                        <td>{{ venta.formaDePago }}</td>
                        <td>Factura {{ venta.tipoDeComprobante }}</td>
                        {% if venta.clienteMayorista is None %}
                            <td>Consumidor final</td>
                        {% else %}
                            <td>{{ venta.clienteMayorista.cuil }}</td>
                        {%endif%}
                        <td>${{ venta.total }}</td>
                        <td>{{ venta.empleado.nombre }} {{ venta.empleado.apellido }}</td>
                        <td>
                            <a href="{% url 'ventas:verDetallesVenta' venta.id %}"><i class="fa-solid fa-eye" title="Ver detalles"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No hay ventas disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/tratamientoFechas.js'%}"></script>
{% endblock %}