{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
    <div class="contenedor-agregarVenta d-flex justify-content-center align-items-center">
        <div class="table-responsive">
            <h2 class="text-center">Detalles de la venta</h2>
            <table class="table">
                <div><strong>Número de Venta: {{venta_id}}</strong></div>
                <thead class="bg-table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio del producto</th>
                        <th scope="col">cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalleVenta in detallesVenta %} 
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ detalleVenta.producto.nombre }}</td>
                        <td>${{ detalleVenta.producto.precioDeVenta }}</td>
                        <td>{{ detalleVenta.cantidad }}</td>
                        <td>${{ detalleVenta.subTotal }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No hay Detalle de venta disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="bg-table">
                    <tr>
                        <td colspan="4" class="text-end"><strong>Total:</strong></td>
                        <td><strong>${{ venta.total }}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}




