{%extends 'base/base.html'%}
{% load static %}

{% block contenido %}

<div class="contenedor-formProd d-flex justify-content-center">
    <div class="card-formProd">
        <form class="row g-3" id="form-prod" action="{% url 'productos:edicionProducto' %}" method="post" >{% csrf_token %}
            <div class="col-12">
            <input type="hidden" name="id" value="{{ producto.id }}">
            <label for="nombreProdRegister" class="form-label"
                >Nombre del producto</label
            >
            <div class="input-group">
                <input type="text" name="nombre" class="form-control" id="nombreProdRegister" value="{{producto.nombre}}" placeholder="Ingrese nombre del producto" required/>
            </div>
            </div>
            <label for="nombreProdRegister" class="labelTxt" id="nombreProdLabel"></label>

            <div class="col-12">
            <label for="precioVentaRegister" class="form-label">Precio de venta</label>
            <div class="input-group">
                <input type="text" name="precioDeVenta" class="form-control" id="precioVentaRegister" value="{{ producto.precioDeVenta|floatformat:2 }}" required/>
            </div>
            </div>
            <label for="precioVentaRegister" class="labelTxt" id="precioVentaLabel"></label>

            <div class="col-12">
                <label for="precioCostoRegister" class="form-label"
                >Precio de costo</label>
                <div class="input-group">
                <input type="text" name="precioDeCosto" class="form-control" id="precioCostoRegister" value="{{producto.precioDeCosto|floatformat:2 }}" required/>
                </div>
            </div>
            <label for="precioCostoRegister" class="labelTxt" id="precioCostoLabel"></label>

            <div class="col-12">
                <label for="fechaElabRegister" class="form-label"
                >Fecha de Elaboración</label>
                <div class="input-group">
                <input type="date" name="fechaDeElaboracion" class="form-control" id="fechaElabRegister" value="{{producto.fechaDeElaboracion|date:'Y-m-d'}}" required/>
                </div>
            </div>
            <label for="fechaElabRegister" class="labelTxt" id="fechaElabLabel"></label>

            <div class="col-12">
                <label for="fechaVencRegister" class="form-label"
                >Fecha de Vencimiento</label>
                <div class="input-group">
                <input type="date" name="fechaDeVencimiento" class="form-control" id="fechaVencRegister" value="{{producto.fechaDeVencimiento|date:'Y-m-d'}}" required/>
                </div>
            </div>
            <label for="fechaVencRegister" class="labelTxt" id="fechaVencLabel"></label>

            <div class="col-12">
            <label for="categoriaRegister" class="form-label">Categoría</label>
            <select name="categoria" id="categoriaRegister" required class="form-control">
                {%if producto.categoria == 'panaderia' or producto.categoria == 'panadería'%}
                    <option value="{{producto.categoria}}">{{producto.categoria}}</option>
                    <option value="pasteleria">Pastelería</option>
                {%else%}
                    <option value="{{producto.categoria}}">{{producto.categoria}}</option>
                    <option value="panaderia">Panadería</option>
                {% endif %}
            </select>
            </div>
            <label for="categoriaRegister" class="labelTxt" id="categoriaLabel"></label>

            <div class="col-12">
                <label for="unidadDeMedidaRegister" class="form-label">Unidad de medida</label>
                <select name="unidadDeMedida" id="unidadDeMedidaRegister" required class="form-control">
                    <option value="{{producto.unidadDeMedida}}">{{producto.unidadDeMedida}}</option>
                    <option value="kg">Kilogramos</option>
                    <option value="g">Gramos</option>
                    <option value="l">Litros</option>
                    <option value="ml">Mililitros</option>
                    <option value="u">Unidad</option>
                    <option value="paq">Paquete</option>
                    <option value="caja">Caja</option>
                    <option value="taza">Taza</option>
                    <option value="otro">Otro</option> 
                </select>
                </div>
                <label for="unidadDeMedidaRegister" class="labelTxt" id="categoriaLabel"></label>

            <div class="col-12">
                <label for="cantidadDisponibleRegister" class="form-label">Cantidad disponible para la venta</label>
                <div class="input-group">
                <input type="number" name="cantidadDisponible" class="form-control" id="cantidadDisponibleRegister" value="{{producto.cantidadDisponible}}" required/>
                </div>
            </div>
            <label for="cantidadDisponibleRegister" class="labelTxt" id="cantidadDisponibleLabel"></label>

            <div class="col-12">
                <label for="cantidadMinRequeridaRegister" class="form-label">Cantidad disponible para la venta</label>
                <div class="input-group">
                <input type="number" name="cantidadMinRequerida" class="form-control" id="cantidadMinRequeridaRegister" value="{{producto.cantidadMinRequerida}}" required/>
                </div>
            </div>
            <label for="cantidadMinRequeridaRegister" class="labelTxt" id="cantidadMinRequeridaLabel"></label>
            
            <div class="col-12">
                <button class="btn bg-primario w-100 mt-4" type="submit">Registrar</button>
                <button class="btn bg-secundario w-100 mt-1" type="reset">Restablecer valores</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        
            function deshabilitarFechasPasadas() {
                const fechaActual = new Date().toISOString().split("T")[0];
                const campoFechaElaboracion = document.getElementById("fechaElabRegister");
                if (campoFechaElaboracion) {
                    campoFechaElaboracion.setAttribute("max", fechaActual);
                }
            }
            window.onload = deshabilitarFechasPasadas;

            document.getElementById('precioVentaRegister').addEventListener('input', function (event) {
            this.value = this.value.replace(/[^0-9.]/g, '');
        });
        
        document.getElementById('precioCostoRegister').addEventListener('input', function (event) {
            this.value = this.value.replace(/[^0-9.]/g, '');
        });

            
        });
    </script>
{% endblock %}
