{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}Estadísticas de Ventas{% endblock %}

{% block contenido %}
<div class="contenedor-estadisticas container mt-5 {% comment %} mx-0 {% endcomment %}"> 
    <h2 class="text-center">Estadísticas de Ventas</h2>

    <!-- Formulario de selección de mes y año -->
    <div class="row mb-4">
        <form method="post" action="{% url 'estadisticas:estadisticas_ventas' %}" class="form-inline">
            {% csrf_token %}
            <div class="form-group mr-2">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
    </div>

    {% if mensaje %}
        <p class="text-center text-danger">{{ mensaje }}</p>
    {% else %}
    <div class="row mb-5 pb-5">
        <!-- Gráfico de Ventas Totales por Empleado -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Totales por Empleado</h3>
            <div class="chart-container">
                {{ graph_empleado_html|safe }}
            </div>
        </div>
        
        <!-- Gráfico de Ventas Diarias por Mes -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Diarias por Mes</h3>
            <div class="chart-container">
                {{ graph_mes_html|safe }}
            </div>
        </div>

        <!-- Gráfico de Ventas por Categoría de Productos y Día del Mes -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Diarias por Mes</h3>
            <div class="chart-container">
                {{ graph_categorias_html|safe }}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
