{% extends 'base/base.html' %}
{% load static %}

{% block titulo %}Estadísticas de Ventas{% endblock %}

{% block contenido %}
<div class="contenedor-estadisticas container mt-5 mx-0 justify-content-center">
    <h2 class="text-center">Estadísticas de Ventas</h2>
    <div class="row justify-content-center">
        <!-- Grafico de Ventas Totales por Empleado -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Totales por Empleado</h3>
            <div class="chart-container">
                {{ graph_empleado_html|safe }}
            </div>
        </div>
        
        <!-- Grafico de Ventas Totales por Mes -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Diarias por Mes</h3>
            <div class="chart-container">
                {{ graph_mes_html|safe }}
            </div>
        </div>

        <!-- Grafico de ventas agrupadas por categoria de productos y dia del mes -->
        <div class="col-md-4">
            <h3 class="text-center">Ventas Diarias por Mes</h3>
            <div class="chart-container">
                {{ graph_categorias_html|safe }}
            </div>
        </div>
    </div>
</div>

{% endblock %}